/* Reset some default styles */
body, h1, p, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Navbar styles */
header {
    background-color: #0073e6;
    padding: 10px 50px;
    justify-content: center;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align the items within the navbar */
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
}

.logo {
    display: flex; /* Use flexbox for horizontal alignment of logo elements */
    align-items: center; /* Vertically align elements within the logo container */
}

.logo img {
    fill: red;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.logo img:hover {
    color: orange;
}

.logo span {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.logo span:hover {
    color: orange;
}

.social-icons {
    align-items: center;
    display: flex;
}

.social-icons a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 32px;
}
.social-icons a:hover {
    color: orange;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#qr-result {
    margin-bottom: 20px;
    align-items: center;
}

#qr-code-image {
    max-width: 100%;
}

#qr-form {
    display: flex;
    flex-direction: column;
}

#qr-text {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #0057b3;
}

#download-qr {
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    display: inline-block;
}

@media (max-width: 767px) {
    html, body {
        overflow: hidden;
    }

    header {
        background-color: #0073e6;
        padding: 20px 10px;
    }

    .navbar {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo span {
        color: white;
        font-size: 24px;
    }

    .social-icons a {
        margin-left: 5px;
    }

    .container {
        z-index: 0;
        padding: 30px 50px;
        max-width: 668px;
        margin: 0 0 0 ;
        min-height: 80vh; 
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .button-container {
        z-index: 1;
        position: fixed;
        bottom: 10%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 10px;
    }

    #qr-text {
        position: fixed;
        bottom: 24%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 10px;
        margin: 0 5%;
    }
    
    #qr-result {
        position: fixed;
        top: 42%;
        left: 50%;
        margin-top: -125px;
        margin-left: -125px;
        max-width: 250px;
    }
}
